*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Rubik', sans-serif;
	background: #000a17;
	text-align: justify;
	font-weight: 300;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.5)
}
header
{
	width:100%;
	height: 75px;
	background: url(img/bg.jpg) center center no-repeat;
	background-size:cover;
}
header menu
{
	width: 100%;
	padding: 2% 0;
	background:#000a17;
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 6969;
	align-items:center;
}
header menu ul li
{
	display: inline-block;
	padding: 0.2em;
	margin-left: 1em;
	cursor: pointer;
	text-shadow: 2px 4px 5px rgba(0,0,0,0.5);
	font-size:x-large;
}
header menu ul li a
{
	color:white;
	text-decoration: none;
}
header menu img
{
	width:100px;
	border-radius: 20px;
	position: absolute;
	left: 5%;
}
i 
{
	color: white;
	position: left;
}
section.sand
{
	background: url(img/SandBG.png) center center no-repeat;
	width:100%;
	height: 1080px;
	position: relative;
}
section.sand div
{
	font-family: 'Rubik', sans-serif;
	width:40%;
	position: absolute;
	right: 15%;
	bottom: 5%;
	font-size: 2.5em;
}
section#gallery
{
	height: 620px;
	width:100%;
	background: #8084E8;
	position: relative;
}
section#gallery div.container
{
	display:flex;
	margin:1em auto;
	margin-top:0; 
	padding: 20px;
	justify-content:space-around;
	align-items:center;
	flex-wrap: wrap;
	
}
section#gallery div.container div.box
{
	width: 15%;
	margin: 1em;
	background: rgba(85,90,224,0.5);
	box-shadow: rgba(36,42,197,0.5) 2px 2px 4px;
	border-radius: 15px;
	overflow: hidden;
}
section#gallery div.container div.box img
{
	width: 100%;
}
section#gallery div.container div.box:hover
{
	transform: scale(1.1);
	transition:0.5s;
}
section#gallery div.container div.box img:hover
{
	transform: scale(1.05);
	transition:1.5s;
}

section.feaures
{
	background:#000a17;
	height:850px;
	width:100%;
	position: relative;
}
section.features div.align
{
	width:100%;
	height: 100%;
	display: flex;

	justify-content: center;
}
section.features div.align div.img
{
	width: 310px;
	height: 496px;
	float: left;
	margin-left:-1400px;
}
section.features div.align div.text
{
	padding: 3em;
	float: right;
}
section.features div.align div.text p
{
	color:white;
	position: absolute;
	right: 5%;
	font-size: 1.4em;
	text-shadow: 2px 4px 5px rgba(255,255,255,0.5)
}

.regim
{
	background: #0023F7
	width: 100%;
	color: red
}
section.gamemodes
{
	height:1000px;
	width: 100%;
	background: #FFA700;
	display: flex;
	position: relative;
	/*align-items: center;*/
	justify-content: center;
	text-align: start;
}
section.gamemodes div.align div.img
{
	margin-top:200px; 
	position: absolute;
	left: 2.5%; 
}
section.gamemodes div.align div.text
{
	/*padding: 3em;*/
	float: right;
	width:800px;
	position: absolute;
	right: 2.5%;
	bottom:10%;
}
section.gamemodes div.align div.text p
{
	color:#000a17;
	font-size: 5em;
	text-shadow: 2px 4px 5px rgba(255,255,255,0.5)
}
section#Shop
{
	height:1000px;
	width: 100%;
	background: #42a808;
	display: flex;
	position: relative;
	/*align-items: center;*/
	justify-content: center;
	text-align: start;
}
section#Shop div.align div.img
{
	margin-top:285px; 
	position: absolute;
	right: 2.5%; 
	float: right;
}
section#Shop div.align div.text
{
	/*padding: 3em;*/
	float: left;
	width:800px;
	position: absolute;
	left: 2.5%;
	top:10%;
}
section#Shop div.align div.text p
{
	color:#000a17;
	font-size: 5em;
	text-shadow: 2px 4px 5px rgba(255,255,255,0.5)
}
footer
{
	background: #000a17;
	width: 100%;
	height: 100px;
	color:#f2f3f4;
	align-content: center;
	align-items: center;
	text-align: center;
}
div.error404
{
	font-size: 5em;
	background: #f2f3f4;
	color:#848482;
	width: 100%;
	height: 100vh;
	text-align: center;
	justify-content: center;
	align-items: center;
}